<div id="centralizz">
    <header>
        <img src="\assets\img\banner.jpeg"  id="banner">
        <img src="\assets\img\contato.png" class="menu" id="contato">
        <img src="\assets\img\carrinho.png" class="menu" id="carrinho">
        <img src="\assets\img\sobre.png" class="menu" id="sobre">
        <a routerLink = "/home"><img src="\assets\img\inicial.png" class="menu" id="inicial"></a>
        <a routerLink = "/login"><img src="\assets\img\login.png" class="menu" id="login"></a>
    </header>
    
        <section>
            <div id="cbcc">
                CATEGORIAS DE PRODUTOS
            </div>
        </section>
  
        <nav>
            <input type="button" id="stes" type="submit" onclick="mais(2)" value=""/>
            <div class="ct" id="ct1" onclick="ctia(1);" style="cursor: pointer;">Teste 1</div>
            <div class="ct" id="ct2" onclick="ctia(2);" style="cursor: pointer;">Teste 2</div>
            <div class="ct" id="ct3" onclick="ctia(3);" style="cursor: pointer;">Teste 3</div>
            <input type="button" id="stdir" type="submit" onclick="mais(1)" value=""/>
        </nav>
  
        <section>
            <input type="text" placeholder="Insira o nome do produto aqui!" id="busca" >
            <input type="button" id="pes" type="submit" onclick="pes();" value="" style="cursor: pointer;"/>
        </section>
  
        <section id="ddss">
            <div id="prd">
                <div id="tit">
                    PRODUTOS:
                </div>
  
                <div id="display"></div>
                
                <div id="vmais" style="margin: 3%; text-decoration: underline; display: flex; justify-content: center; cursor: pointer;" onclick="vertudo();">Ver mais produtos...</div>
                
            </div>
        </section>
  
        <footer>
                    <img src="\assets\img\redes.png" id="ftpng">
                    <ul id="kpl2">
                    Páginas:
                    <li>Sobre</li>
                    <li>Carrinho</li>
                    <li>Contato</li>
                    <li><a routerLink= "/home">Tela inicial</a></li>
                    </ul>
    
                    <div id="kpl3"><u>Política de privacidade e termos de uso</u></div>
                    <img src="\assets\img\redes.png" id="kpl4">
                    <img src="\assets\img\logoo.png" id="kpl5">
  
        </footer>
    </div>

    

    